html,
body {
  all: unset;
  min-height: 100vh;
}
body {
  display: block;
}
#root {
  min-height: 100vh;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
}
.layout-main-root {
  min-height: 100vh;
  max-height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
